.text-medium-bold{
      -fx-font-size: 16px;
      -fx-font-family: "Roboto Light";
      white-space: normal;
      -fx-font-weight: bold;
  }

.text-medium{
    -fx-font-size : 24px;
    -fx-font-family: "Roboto Light";
}


.text-header{
     -fx-font-size: 45px;
     -fx-font-family: "Roboto Light";
}


.text-button-large{
     -fx-font-size: 45px;
     -fx-font-family: "Roboto Light";
     -fx-font-weight: bold;

}

.text-search{
     -fx-font-size: 45px;
     -fx-font-family: "Robot Light";
      -fx-text-fill: #979797;
}

.text-iMat{
     -fx-font-size: 60px;
     -fx-font-family: "Roboto Light";
}

.split-pane > .split-pane-divider {
    -fx-padding: 0;
    -fx-background-color: transparent;
}

.anchor-pane {
    -fx-border-style: solid;
    -fx-border-color: transparent;
    -fx-border-width: 0 ; /* Set the border width to 0 */
}

.vbox {
    -fx-spacing: 10px;
    -fx-padding: 10px;
}

.text-area {
    -fx-padding: 10px;
    -fx-background-color: transparent;
    -fx-wrap-text: true;
    -fx-font-size: 24px;
}

