.transparent-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    }

.text-name{
    -fx-font-size : 32px;
    -fx-font-weight: bold;
    -fx-font-family: "Roboto Light";
}

.text-comp-price{
    -fx-font-size : 28px;
    -fx-font-family: "Roboto Light";
}

.text-area {
    -fx-background-color: transparent;
    -fx-control-inner-background: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 0;
    -fx-text-fill: black; /* Set text color to black */
}

.anchor-pane {
    -fx-background-color: transparent;
}

.stack-pane {
    -fx-background-color: transparent;
}


/* product-info.css */

/* product-info.css */

/* product-info.css */

.red-exit-button {
    -fx-fill: #ee6d6d; /* Default color */
    -fx-stroke: white;
    -fx-stroke-width: 4px;
}

.red-exit-button:hover {
    -fx-fill: #ff4d4d; /* Hover color */
}

.red-exit-button:pressed {
    -fx-fill: #cc0000; /* Click color */
}

.productCard {
    -fx-fill: #ffffff; /* Original white background color */
    transition: background-color 0.3s ease; /* Smooth transition effect */
}

.productCard:hover {
    -fx-fill:  #f0f0f0; /* Slightly darker white background color on hover */
}
