.transparent-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    }

.text-name{
    -fx-font-size : 32px;
    -fx-font-weight: bold;
    -fx-font-family: "Roboto Light";
}

.text-comp-price{
    -fx-font-size : 28px;
    -fx-font-family: "Roboto Light";
}

.text-area {
    -fx-background-color: transparent;
    -fx-control-inner-background: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 0;
    -fx-text-fill: black; /* Set text color to black */
}

.anchor-pane {
    -fx-background-color: transparent;
}

.stack-pane {
    -fx-background-color: transparent;
}